@use '../../../variables';

.container {
    width: 100%;
    background-color: variables.$primary-color;
    text-align: center;
    padding: 20px 0;
}

.content-text {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    color: variables.$text-color;
}
