@use '~@angular/material' as mat;
@import "theme.scss";

html {
    height: 100%;
}

body {
    margin: 0px !important;
    padding: 0% !important;
    min-height: 100%;
}

.default-snackbar {
    padding: 0 !important;
}

* {
    font-family: "Roboto", "sans-serif";
}

.mat-button {
    .mat-button-focus-overlay {
        background-color: transparent;
    }
}

.mat-stroked-button:not([disabled]) {
    border-color: rgba(mat.get-color-from-palette($theme-primary, 500), 0.5) !important;

    .mat-button-focus-overlay {
        background-color: transparent;
    }
}
