<div class="container">
    <mat-toolbar>
        <button mat-raised-button color="accent">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>
        <button *ngIf="isElementSelected" mat-raised-button color="accent">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button *ngIf="isElementSelected" mat-raised-button color="accent">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-toolbar>
</div>
