<div class="container">
    <mat-toolbar>
        <button mat-raised-button color="accent" (click)="addButtonClicked($event)">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>
        <button *ngIf="isSingleElementSelected" mat-raised-button color="accent" (click)="editButtonClicked($event)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button *ngIf="isSingleElementSelected" mat-raised-button color="accent" (click)="deleteButtonClicked($event)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-toolbar>
</div>
